<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  p {
    margin: 0;
  }

  ul {
    padding: 0px;
    list-style: none;
  }

  .toolbar li,
  .toolbar h1,
  .toolbar p {
    color: #fff;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="nav-items">
    <ul>
      <li>
        <a href="">Blog</a>
      </li>
      <li><a href="">Sobre</a></li>
      <li><a href="">Descrição</a></li>
    </ul>
  </div>

  <div class="toolbar-content">
    <img alt="Diogo de Paula Almazan" src="assets/images/foto.png" />

    <div class="main-text-toolbar">
      <h1>Diogo de Paula Almazan</h1>
      <p>
        Carioca, 27 anos e Botafoguense. Técnico em Eletrônica formado pelo
        CEFET-MG, Engenheiro de Sistemas graduado pela UFMG e atualmente pós
        graduando em Arquitetura de Software Distribuído pela PUC Minas.
        Peladeiro nato, maluco pelos animais e doido por tecnologias. Tenho o
        objetivo de vida de conseguir ajudar a sociedade por meio de software e
        sei que aos poucos alcançarei, pois motivação não falta.
      </p>
    </div>
  </div>
</div>

<div class="main-content">
  <section class="blog-section">
    <strong class="blog-title">Últimas do blog</strong>
    <ul>
      <app-blog-texts></app-blog-texts>
    </ul>

    <button class="see-more-button">Ver tudo</button>
  </section>
</div>
